{% extends "layouts/laps-other.html" %}

{% block pageTitle %}
  Get help – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBreadcrumbs({
        items: [
          {
            text: "LAPs home",
            href: "/laps/other/home-page"
          },
          {
            text: "Get help and guidance"
          }
        ]
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<span class="govuk-caption-xl">Glamshire County Council</span>
<h1 class="govuk-heading-xl">Get help and guidance</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Guidance</h2>

    <p class="govuk-body"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Understanding LAPs (opens in new tab)</a><br>Access guidance on LAPs, including how it works and how payments are made</p>

    <h2 class="govuk-heading-l">Contact us</h2>
    
    <h3 class="govuk-heading-m">Raise a help request</h3>
    <p class="govuk-body"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Request support (opens in new tab)</a><br>Get help or view open requests</p>
    
    <h3 class="govuk-heading-m">Email</h3>
    <p class="govuk-body"><a href='mailto:EPRCustomerService@defra.gov.uk' class='govuk-link'>EPRCustomerService@defra.gov.uk</a><br>We aim to respond within 20 working days</p>

    <h3 class="govuk-heading-m">Telephone</h3>
    <p class="govuk-body">0300 060 0002<br>Monday to Friday 8am to 6pm (closed on weekends and bank holidays)</p>
  </div>
</div>

{% endblock %}
