{% extends "layouts/main.html" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Bank details confirmed"
    }) }}

    <p class="govuk-body">Your local authority's bank details have been confirmed.</p>

    <form method="post" action="/laps/bank-details-confirmed">

      <button class="govuk-button" data-module="govuk-button" type="submit">
        {% if data['confirm-bank-details-referrer'] == 'bank-details' %}
          Go back to Bank details
        {% elif data['confirm-bank-details-referrer'] == 'home-page' %}
          Go back to LAPs home
        {% else %}
          Go back to LAPs home
        {% endif %}
      </button>
    </form>
  </div>
</div>

{% endblock %}
