{% extends "layouts/main.html" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBreadcrumbs({
        items: [
          {
            text: "Local Authority Payments (LAPs) home"
          }
        ]
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}



  {% if (data['user-type'] == 'head-of-finance') and (data['confirm-bank-details'] != 'confirmed') %}
    {% set html %}
    
    <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <p class="govuk-notification-banner__heading">
        Please confirm your local authority's bank details.
        <a class="govuk-notification-banner__link" href="/laps/confirm-bank-details">View and confirm bank details</a>
      </p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html
    }) }}
  
  {% endif %}
    
<span class="govuk-caption-xl">Local Authority Payments (LAPs) home</span>
<h1 class="govuk-heading-xl">Glamshire County Council</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half custom-container-card">
    <div class="custom-card">
      <h2 class="govuk-heading-m"><a class="govuk-link" href="/laps/payment-documents">Payment documents</a></h2>
      <p class="govuk-body">You can view and download your:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>estimated grant payment amounts for Extended Producer Responsibility (EPR) packaging</li>
        <li>remittance advice with payment details</li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-column-one-half custom-container-card">
    <div class="custom-card">
      <h2 class="govuk-heading-m"><a class="govuk-link" href="/laps/bank-details">Bank details</a></h2>
      <p class="govuk-body">You can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>view bank details</li>
      </ul>
    </div>
  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half custom-container-card">
    <div class="custom-card">
      <h2 class="govuk-heading-m"><a class="govuk-link" href="/laps/get-help">Get help</a></h2>
      <p class="govuk-body">You can view our contact details and find links for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>read Local Authority Payments (LAPs) guidance</li>
        <li>raise a support request</li>
      </ul>
    </div>
  </div>

</div>

{% endblock %}
