{% extends "layouts/idm-sign-up.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
      text: "Back",
      href: "/idm-ttp/account-management/add-team-member/service-role"
    }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}


      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
  <div class="govuk-grid-column-two-thirds">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <span class="govuk-caption-xl">Add a team member</span>
      <h1 class="govuk-fieldset__heading">
        What level of access does this team member need?
      </h1>
    </legend>

      <div class="govuk-inset-text">
          You can change this later by going to their account and selecting 'Manage'
      </div>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="admin" name="admin" type="radio" value="Administrator" aria-describedby="admin-descripton">
        <label class="govuk-label govuk-radios__label" for="admin">
          Administrator
        </label>
        <div id="admin-description" class="govuk-hint govuk-radios__hint">
          Administrators can add and manage team members for Glamshire County Council. They can also register the organisation for other Defra online services and use those services
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="standardUser" name="admin" type="radio" value="Standard user" aria-describedby="standardUser-description">
        <label class="govuk-label govuk-radios__label" for="standardUser">
          Standard user
        </label>
        <div id="standardUser-description" class="govuk-hint govuk-radios__hint">
          Standard users can use the services they have been given access to, but cannot manage team members or register the organisation for other Defra online services
        </div>
      </div>
    </div>
    </div>
  </fieldset>
</div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" type="submit" value="continue">
          Continue
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
