{% extends "layouts/idm-sign-up.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
      text: "Back",
      href: "manage-team-access"
    }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="" class="govuk-form-group">
      <div class="govuk-form-group govuk-!-margin-bottom-6">
        <span class="govuk-caption-xl">Add a team member</span>
        {{ govukRadios({
          name: "whichServiceDoYouWantThisPersonToUse",
          fieldset: {
            legend: {
              text: "Which service do you want this person to use?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "localAuthorityPayments",
              text: "Local Authority Payments (LAPs)"
            }
          ]
        }) }}
      </div>
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" type="submit" value="continue">
          Continue
        </button>
        <a href='/idm-ttp/add-service-later' class='govuk-link'>Add service later</a>
      </div>
    </form>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukDetails({
    summaryText: "What does it mean to add service later?",
    html: "<p class='govuk-body'>The option to add service later will only give the person access to the Defra account but not to any specific service.</p>
             <p class='govuk-body'></p>Service access can be given at a later stage by going to the person's account and selecting 'Give service access'.</p>"
  }) }}
  <div>
  </div>

{% endblock %}
