{% extends "layouts/idm-sign-up.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="" class="govuk-form-group">
      <div class="govuk-form-group govuk-!-margin-bottom-6">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">
            Enter the verification code
          </label>
        </h1>
        <div class="govuk-inset-text">
          We have sent a 6-digit verification code to 
          <p class='govuk-body'><span class='govuk-!-font-weight-bold'>joe.bloggs@glamshirecountycouncil.gov.uk</span>
        </div>
        <div id="event-name-hint" class="govuk-hint">
          It may take a few minutes to arrive and will expire in 10 minutes.
        </div>

        {{ govukDetails({
             summaryText: "If the verification code has not arrived",
            html: "<p class='govuk-body'>It might take a few minutes for the email to arrive. The subject line is 'Verify your email address'.</p>
            <p class='govuk-body'>If the email is not in your inbox, check your spam or junk folder.</p>
            <p class='govuk-body'>If you still have not received it, or your code has expired, you will need to 
            <a href='#' class='govuk-link'>request a new code.</a>
            <p class='govuk-body'>You may also want to check that you have correctly entered your email address. If it's incorrect,you can
            <a href='complete-your-registration.html' class='govuk-link'>re-enter your email address.</a>"


        }) }}
        <input class="govuk-input govuk-input--width-10" id="event-name" name="eventName" type="text" aria-describedby="event-name-hint">
      </div>
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" type="submit">
          Continue
        </button>
        <a class="govuk-link" href="#">Request a new code</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
