{% extends "layouts/idm-main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBreadcrumbs({
        items: [
          {
            text: "Defra home",
            href: "/idm-ttp/manage-account"
          },
          {
            text: "Manage team"
          }
        ]
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<span class="govuk-caption-xl">Glamshire County Council</span>
<h1 class="govuk-heading-xl">Manage team access</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="">
        <button class="govuk-button" disabled aria-disabled="true" data-module="govuk-button" type="submit">
          Add a team member
        </button>
      </form>
      <p class="govuk-heading-m"><a href='choose-service.html'govuk-link'>Add a team member</a></p>
      <p class="govuk-heading-m">All members (1)</p>
      <p class="govuk-body">To view more information about a team member, including their service roles, or to add them to a service, go to 'Manage' next to their status</p>
    </div>
  </div>

  {{ govukTable({
    caption: "Team member details",
    captionClasses: "govuk-visually-hidden",
    firstCellIsHeader: true,
    head: [
      {
        text: "Name"
      },
      {
        text: "Email address"
      },
      {
        text: "Account role"
      },
      {
        text: "Status"
      },
      {
        html: "<span class='govuk-visually-hidden'>Manage</span>"
      }
    ],
    rows: [
      [
        {
          text: "Joe Bloggs"
        },
        {
          text: "joe.bloggs@glamshirecountycouncil.gov.uk"
        },
        {
          text: "owner"
        },
        {
          html: "<strong class='govuk-tag govuk-tag--blue'>Live</strong>"
        },
        {
          html: "<a href='/idm-ttp/manage-team-member' class='govuk-link'>Manage <span class='govuk-visually-hidden'>account for Joe Bloggs</span></a>",
          classes: "govuk-table__cell--numeric"
        }
      ]
    ]
  }) }}

    {{ govukDetails({
    summaryText: "What are account roles?",
    html: "<p class='govuk-body'>To update your local authority's bank details, contact the helpdesk.</p>
            <p class='govuk-body'>We'll let you know once the update is complete, and you'll be able to confirm the changes in your account.</p>
            <p class='govuk-body'><span class='govuk-!-font-weight-bold'>Email</span><br>
            <a href='mailto:EPRCustomerService@defra.gov.uk' class='govuk-link'>EPRCustomerService@defra.gov.uk</a><br>
            We aim to respond within 20 working days
            </p>
            <p class='govuk-body'><span class='govuk-!-font-weight-bold'>Telephone</span><br>
            0300 060 0002<br>
            Monday to Friday 8am to 6pm (closed on weekends and bank holidays)</p>"
  }) }}

{% endblock %}
