{% extends "layouts/idm-sign-up.html" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your Defra account terms and conditions</h1>

    <p class="govuk-body">Your local authority's bank details have been confirmed.</p>

    <form method="post" action="">

      <button class="govuk-button" data-module="govuk-button" type="submit">
        Accept and continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
