{% extends "layouts/idm-main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Your Defra account</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">From here you can update your personal details, manage your accounts, and access your available services.</p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Full name"
            },
            value: {
              text: "Email address"
            }
          },
          {
            key: {
              text: "Joe Bloggs"
            },
            value: {
              text: "joe.blogggs@glamshirecountycouncil.gov.uk"
            }
          }
        ]
      }) }}
      <p class="govuk-body"><a href='/idm-ttp/manage-team-member' class='govuk-link'>Update details</a></p>
      {{ govukDetails({
        summaryText: "Contact support ID",
        html: "<p class='govuk-body'>To update your local authority's bank details, contact the helpdesk.</p>
                <p class='govuk-body'>We'll let you know once the update is complete, and you'll be able to confirm the changes in your account.</p>
                <p class='govuk-body'><span class='govuk-!-font-weight-bold'>Email</span><br>
                <a href='mailto:EPRCustomerService@defra.gov.uk' class='govuk-link'>EPRCustomerService@defra.gov.uk</a><br>
                We aim to respond within 20 working days
                </p>
                <p class='govuk-body'><span class='govuk-!-font-weight-bold'>Telephone</span><br>
                0300 060 0002<br>
                Monday to Friday 8am to 6pm (closed on weekends and bank holidays)</p>"
      }) }}
    </div>
  </div>
  <h2 class="govuk-heading-m">Your accounts</h2>
  <p class="govuk-body">You have access to the following accounts and related services</p>
  {{ govukTable({
    caption: "Your accounts",
    captionClasses: "govuk-visually-hidden",
    firstCellIsHeader: true,
    head: [
      {
        text: "Account"
      },
      {
        text: "Account role"
      },
      {
        text: "Service"
      },
      {
        text: "Service role"
      },
      {
        html: "<span class='govuk-visually-hidden'>Manage</span>"
      }
    ],
    rows: [
      [
        {
          text: "Glamshire County Council"
        },
        {
          text: "Owner"
        },
        {
          text: "Local Authority Payments (LAPs)"
        },
        {
          text: "CEO"
        },
        {
          html: "<a href='/idm-ttp/manage-team-member' class='govuk-link'>Manage <span class='govuk-visually-hidden'>Glamshire County Council</span></a>",
          classes: "govuk-table__cell--numeric"
        }
      ],
      [
        {
          text: "Unglamshire County Council"
        },
        {
          text: "Owner"
        },
        {
          text: "Local Authority Payments (LAPs)"
        },
        {
          text: "CEO"
        },
        {
          html: "<a href='/idm-ttp/manage-team-member' class='govuk-link'>Manage <span class='govuk-visually-hidden'>Glamshire County Council</span></a>",
          classes: "govuk-table__cell--numeric"
        }
      ]
    ]
  }) }}
  <h2 class="govuk-heading-m">Your services</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third custom-container-card">
      <div class="custom-card">
        <h2 class="govuk-heading-m"><a class="govuk-link" href="/laps/payment-documents">Local Authority Payments (LAPs)</a></h2>
      </div>
    </div>

  </div>

{% endblock %}
