{% extends "layouts/laps-head-of-finance.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}
  Update your local authority's bank details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
      text: "Back",
      href: "/laps/update-bank-details/bank-details"
    }) }}

    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<span class="govuk-caption-xl">Glamshire County Council</span>
<h1 class="govuk-heading-xl">Update your bank details</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">We need your local authority's latest bank details to make sure pEPR payments are sent to the correct account.</p>

    
    <p class="govuk-heading-s">How it works </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Submit your updated bank details securely using the online form</li>
            <li>We will contact your local authority's authorised finance officer (e.g. Section 151 officer) to confirm the details</li>
            <li>You will receive an email once your updated bank details are verified and approved</li>
          </ul>
  </div>

  </div>
      <button class="govuk-button" data-module="govuk-button" type="submit">
        Continue
      </button>
  </div>

</div>


{% endblock %}
