{% extends "layouts/laps-head-of-finance.html" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
  Bank details submitted – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Updated bank details submitted"
    }) }}

    <p class="govuk-body">Your request has been submitted. We will verify the information with your authorised finance officer.<br><br> You will receive a confirmation email once the update is approved.</p>


      <a href='/laps/update-bank-details/bank-details' class='govuk-link'>Go back to Bank details</a>


  </div>
</div>

{% endblock %}
