{% extends "layouts/idm-sign-up.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
            text: "Back",
            href: "/idm-ttp/account-management/change-name/user-account"
          }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="" class="govuk-form-group">
      <div class="govuk-form-group govuk-!-margin-bottom-6">
         <span class="govuk-caption-xl">Change name</span>
         <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">
            What's your name?
          </label>
        </h1>
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="first-name-1">
      First name
    </label>
    <input class="govuk-input" id="first-name-1" name="firstName1" type="text" autocomplete="first-name1">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="last-name-1">
      Last name
    </label>
    <input class="govuk-input" id="last-name-1" name="lastName1" type="text" autocomplete="last-name1">
  </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" type="submit">
          Continue
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
