{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Page not found</h1>
    <p class="govuk-body">
      If you typed the web address, check it is correct.
    </p>
    <p class="govuk-body">
      If you pasted the web address, check you copied the entire address.
    </p>
    <h3 class="govuk-heading-m">Contact us</h3>

    <h3 class="govuk-heading-s">Talk to an advisor</h3>
    <ul class="govuk-list">
      <li>Telephone: 0300 060 0002</li>
      <li>Monday to Friday 8:30am - 4:30pm (except public holidays)</li>
    </ul>
 
   
    <h3 class="govuk-heading-s">Email</h3>
    <ul class="govuk-list">
      <li><a href="mailto:#">EPRCustomerService@defra.gov.uk</a></li>
     
      <li>We aim to respond within 3 working days.</li>  
    </ul>

  </div>
</div>

{% endblock %}
