{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
    <p class="govuk-body">Try again later.</p>
    <h3 class="govuk-heading-m">Contact us</h3>

    <h3 class="govuk-heading-s">Talk to an advisor</h3>
    <ul class="govuk-list">
      <li>Telephone: 0300 060 0002</li>
      <li>Monday to Friday 8:30am - 4:30pm (except public holidays)</li>
    </ul>
 
   
    <h3 class="govuk-heading-s">Email</h3>
    <ul class="govuk-list">
      <li><a href="mailto:#">EPRCustomerService@defra.gov.uk</a></li>
     
      <li>We aim to respond within 3 working days.</li>  
    </ul>

  </div>
</div>

{% endblock %}
