{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
    <h1 class="govuk-heading-l">You have been signed out</h1>
    <p class="govuk-body">
      You have been signed out because you did not do anything for 20 minutes. This is to protect your information.
    </p>
    <form action="#">
      {{ govukButton({
        text: 'Sign back in',
        href: "signin"
      }) }}
    </form>
    <!--
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="#">Sign in to LAPs</a>
      </li>
   
    </ul>
    -->
  </div>
</div>

{% endblock %}
