{% extends "layouts/laps-shutter.html" %}

{% block pageTitle %}
  Check your details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, the service is currently unavailable</h1>
    <p class="govuk-body">
      You will be able to use the service soon.  </p>
  
    <h2 class="govuk-heading-l">Contact us</h2>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Email</h3>
    <ul class="govuk-list">
      <li><a href="mailto:#">eprcustomerservice@defra.gov.uk</a></li>
     
      <li>We aim to respond to your request within 5 working days but complex queries may take up to 20 days.</li>  
    </ul>


    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Telephone</h3>
    <ul class="govuk-list">
      <li>Telephone: 0300 060 0002</li>
      <li>Monday to Friday 8am - 4:30pm (closed on weekends and bank holidays)</li>
    </ul>
 
   
 

  </div>
</div>
{% endblock %}
