{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<span class="govuk-caption-xl">Glamshire County Council</span>
<h1 class="govuk-heading-xl">Home</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="">
      <h2 class="govuk-heading-m"><a class="govuk-link" href="/view-documents">View documents</a></h2>
      <p class="govuk-body">You can view and download your:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>estimated grant payment amounts for extended producer responsibility (EPR) packaging</li>
        <li>advice to see payment details</li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="">
      <h2 class="govuk-heading-m"><a class="govuk-link" href="/bank-details">Bank details</a></h2>
      <p class="govuk-body">You can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>view bank details</li>
      </ul>
    </div>
  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="">
      <h2 class="govuk-heading-m"><a class="govuk-link" href="/view-documents">Get help</a></h2>
      <p class="govuk-body">You can find links to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>read guidance</li>
        <li>view our contact details</li>
        <li>make a formal complaint or raise a ticket</li>
      </ul>
    </div>
  </div>

</div>

{% endblock %}
