{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <span class="govuk-caption-l">Baseline</span>
    <h2 class="govuk-heading-l">Private Beta 2.0 <strong class="govuk-tag govuk-tag--light-blue">
      Current
      </strong></h2>
    <p class="govuk-body">Local Authority Payments (LAPs) is the digital journey within pEPR that enables local authorities in the UK to engage with the scheme and receive fair compensation for their work in managing packaging waste.</p>

    <!-- SECTION ONE -->

    <div class="custom-card-border-blue">
      <h2 class="govuk-heading-m govuk-link-">Standard user and Head of Waste</h2>
      <p class="govuk-body"> <strong class="govuk-tag govuk-tag--red">
          To be signed off
        </strong> <strong class="govuk-tag govuk-tag--pink">
          Updated July 2025
        </strong></p>
        <p class="govuk-body">Head of Waste, finance officers or waste officers</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="/laps/home-page">Home page</a></li>
        <li><a class="govuk-link" href="/laps/payment-documents">Payment documents</a></li>
        <li><a class="govuk-link" href="/laps/bank-details">Bank details</a></li>
        <li><a class="govuk-link" href="/laps/confirm-bank-details?error=true">Bank details (Showing form errors)</a></li>
        <li><a class="govuk-link" href="/laps/get-help">Get help</a></li>
      </ul>
    </div>

    <!-- SECTION TWO -->

    <div class="custom-card-border-blue">
      <h2 class="govuk-heading-m govuk-link-">CEO User</h2>
      <p class="govuk-body"> <strong class="govuk-tag govuk-tag--red">
          To be signed off
        </strong> <strong class="govuk-tag govuk-tag--pink">
          Updated July 2025
        </strong></p>
      <p class="govuk-body">CEO can view full bank details</p>

      <form method="post" action="/">
        <div class="govuk-form-group">
          <input class="govuk-input" id="user-type" name="user-type" type="text" value="ceo" required hidden>
        </div>

        <button class="govuk-button" data-module="govuk-button" type="submit">
          Start CEO Journey
        </button>
      </form>
    </div>

    <!-- SECTION THREE -->

    <div class="custom-card-border-blue">
      <h2 class="govuk-heading-m govuk-link-">Head of Finance User</h2>
      <p class="govuk-body"> <strong class="govuk-tag govuk-tag--red">
          To be signed off
        </strong> <strong class="govuk-tag govuk-tag--pink">
          Updated July 2025
        </strong></p>
      <p class="govuk-body">HoF can view full bank details and has to confirm them</p>

      <form method="post" action="/">
        <div class="govuk-form-group">
          <input class="govuk-input" id="user-type" name="user-type" type="text" value="head-of-finance" required hidden>
        </div>

        <button class="govuk-button" data-module="govuk-button" type="submit">
          Start HoF Journey
        </button>
      </form>
    </div>

    <!-- SECTION FOUR -->

    <p class="govuk-body govuk-!-margin-bottom-4"></p>

    <div class="custom-card-border-blue">
      <h2 class="govuk-heading-m"> Common shutter pages for the service</h2>
      <p class="govuk-body"><strong class="govuk-tag govuk-tag--red">
          To be signed off
        </strong> <strong class="govuk-tag govuk-tag--pink">
          Updated July 2025
        </strong></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

        <li>
          <a class="govuk-link" href="/shutter-pages/problem-with-the-service">Sorry, there is a problem with the
            service</a>
        </li>
        <li>
          <a class="govuk-link" href="/shutter-pages/page-not-found">Page not found</a>
        </li>

        <li>
          <a class="govuk-link" href="/shutter-pages/service-is-unavilable">Sorry, the service is unavailable</a>
        </li>
        <li>
          <a class="govuk-link" href="/shutter-pages/service-timeout">Service timeout</a>
        </li>
      </ul>
    </div>

    <!-- IDM TTP -->

    <p class="govuk-body govuk-!-margin-bottom-4"></p>

    <div class="custom-card-border-blue">
      <h2 class="govuk-heading-m">IDM TTP</h2>
      <p class="govuk-body"><strong class="govuk-tag govuk-tag--red">
          To be signed off
        </strong> <strong class="govuk-tag govuk-tag--pink">
          Updated July 2025
        </strong></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

        <li>
          <a class="govuk-link" href="/idm-ttp/manage-account">Manage Account</a>
        </li>
        <li>
          <a class="govuk-link" href="/idm-ttp/complete-your-registration">Complete your registration</a>
        </li>
        
      </ul>
    </div>

  </div>

  <!-- SIDEBAR -->
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Prototypes</h2>
    <h3 class="govuk-heading-m">LAPs</h3>
    <p class="govuk-body"> <strong class="govuk-tag govuk-tag--light-blue">
    Current
    </strong> <a class="govuk-link" href="index.html">Private beta phase 2.0</a></p>
    <p class="govuk-body"> <strong class="govuk-tag govuk-tag--light-red">
    Old
    </strong> <a class="govuk-link" href="https://laps-prototype-e21618a16725.herokuapp.com/index" rel="noreferrer noopener" target="_blank">Private beta phase 1.0 (Opens in new tab)</a></p>
  </div>
</div>

{% endblock %}
