{% extends "layouts/index-page.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <span class="govuk-caption-l">Baseline</span>
    <h2 class="govuk-heading-l">Private Beta 2.0 <strong class="govuk-tag govuk-tag--light-blue">
      Current
      </strong></h2>
    <p class="govuk-body">Local Authority Payments (LAPs) is the digital journey within pEPR that enables local authorities in the UK to engage with the scheme and receive fair compensation for their work in managing packaging waste.</p>


<!-- SECTION ONE -->

<div class="custom-card-border-blue">
      <h2 class="govuk-heading-m govuk-link-">CEO</h2>
      
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        html: ''
      },
      summary: {
        html: '<p class="govuk-body"> <strong class="govuk-tag govuk-tag--red">
          To be signed off
        </strong> <strong class="govuk-tag govuk-tag--pink">
          Updated July 2025
        </strong></p>
           <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
           <p class="govuk-body">Local Authority Payments (LAPs) journey for CEO. The CEO can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>view and download payment documents</li>
          <li>view bank details</li>
          <li>view guidance and raise support requests</li>
        </ul>'
      },
      content: {
        html: '<ul class="govuk-list govuk-list--bullet govuk-list--spaced"><li><a class="govuk-link" href="#">Something</a></li></ul>'
      }
    }
  ]
}) }}

  <form method="post" action="/">
    <div class="govuk-form-group">
      <input class="govuk-input" id="user-type" name="user-type" type="text" value="ceo" required hidden>
    </div>

    <button class="govuk-button" data-module="govuk-button" type="submit">
      Start CEO journey
    </button>
  </form>

</div>


<!-- SECTION TWO -->

 <div class="custom-card-border-blue">
      <h2 class="govuk-heading-m govuk-link-">Head of Finance</h2>
      
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        html: ''
      },
      summary: {
        html: '<p class="govuk-body"> <strong class="govuk-tag govuk-tag--red">
          To be signed off
        </strong> <strong class="govuk-tag govuk-tag--pink">
          Updated July 2025
        </strong></p>
           <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
           <p class="govuk-body">Local Authority Payments (LAPs) journey for Head of Finance. The Head of Finance can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>view and download payment documents</li>
          <li>view and confirm bank details</li>
          <li>view guidance and raise support requests</li>
        </ul>'
      },
      content: {
        html: '<ul class="govuk-list govuk-list--bullet govuk-list--spaced"><li><a class="govuk-link" href="/laps/confirm-bank-details?error=true">Bank details (Showing form errors)</a></li></ul>'
      }
    }
  ]
}) }}

<form method="post" action="/">
        <div class="govuk-form-group">
          <input class="govuk-input" id="user-type" name="user-type" type="text" value="head-of-finance" required hidden>
        </div>

<button class="govuk-button" data-module="govuk-button" type="submit">
          Start HoF journey
        </button>
      </form>

    </div>


<!-- SECTION THREE -->

    <div class="custom-card-border-blue">
      <h2 class="govuk-heading-m govuk-link-">Head of Waste</h2>
      
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        html: ''
      },
      summary: {
        html: '<p class="govuk-body"> <strong class="govuk-tag govuk-tag--red">
          To be signed off
        </strong> <strong class="govuk-tag govuk-tag--pink">
          Updated July 2025
        </strong></p>
           <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
           <p class="govuk-body">Local Authority Payments (LAPs) journey for Head of Waste. The Head of Waste can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>view and download payment documents</li>
          <li>view masked bank details</li>
          <li>view guidance and raise support requests</li>
        </ul>'
      },
      content: {
        html: '<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li><a class="govuk-link" href="/laps/home-page">Home page</a></li>
        <li><a class="govuk-link" href="/laps/payment-documents">Payment documents</a></li>
        <li><a class="govuk-link" href="/laps/bank-details">Bank details</a></li>
        <li><a class="govuk-link" href="/laps/get-help">Get help</a></li>'
      }
    }
  ]
}) }}

<form method="post" action="/">
        <div class="govuk-form-group">
          <input class="govuk-input" id="user-type" name="user-type" type="text" value="#" required hidden>
        </div>

<button class="govuk-button" data-module="govuk-button" type="submit">
          Start HoW journey
        </button>
      </form>

    </div>

    
<!-- SECTION FOUR -->

<div class="custom-card-border-blue">
      <h2 class="govuk-heading-m govuk-link-">Finance and Waste Officers</h2>
      
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        html: ''
      },
      summary: {
        html: '<p class="govuk-body"> <strong class="govuk-tag govuk-tag--red">
          To be signed off
        </strong> <strong class="govuk-tag govuk-tag--pink">
          Updated July 2025
        </strong></p>
           <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
           <p class="govuk-body">Local Authority Payments (LAPs) journey for Finance and Waste Officers. The Finance and Waste Officers can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>view and download payment documents</li>
          <li>view masked bank details</li>
          <li>view guidance and raise support requests</li>
        </ul>'
      },
      content: {
        html: '<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li><a class="govuk-link" href="/laps/home-page">Home page</a></li>
        <li><a class="govuk-link" href="/laps/payment-documents">Payment documents</a></li>
        <li><a class="govuk-link" href="/laps/bank-details">Bank details</a></li>
        <li><a class="govuk-link" href="/laps/get-help">Get help</a></li>'
      }
    }
  ]
}) }}

<form method="post" action="/">
        <div class="govuk-form-group">
          <input class="govuk-input" id="user-type" name="user-type" type="text" value="#" required hidden>
        </div>

<button class="govuk-button" data-module="govuk-button" type="submit">
          Start FO / WO journey
        </button>
      </form>

    </div>

     
<!-- IDM TTP -->
 <h2 class="govuk-heading-m">Identity Management (IDM)</h2>

<!-- SECTION ONE -->

<div class="custom-card-border-blue">
      <h2 class="govuk-heading-m govuk-link-">Nominated Owner (LAPs CEO)</h2>
      
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        html: ''
      },
      summary: {
        html: '<p class="govuk-body"> <strong class="govuk-tag govuk-tag--red">
          To be signed off
        </strong> <strong class="govuk-tag govuk-tag--pink">
          Updated July 2025
        </strong></p>
           <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
           <p class="govuk-body">Identity Management Trusted Third Party journey for the Nominated Owner. The Nominated Owner is accountable for the organisation, and can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>invite users</li>
          <li>assign roles</li>
          <li>manage access for others</li>
          <li>update their name</li>
          <li>use services they have been given access to</li>
        </ul>'
      },
      content: {
        html: '<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li><a class="govuk-link" href="/idm-ttp/account-management/manage-account">Manage Account</a></li>
        <li><a class="govuk-link" href="/idm-ttp/registration/complete-your-registration">Complete your registration</a></li>'
      }
    }
  ]
}) }}

<form method="post" action="/">
        <div class="govuk-form-group">
          <input class="govuk-input" id="user-type" name="user-type" type="text" value="#" required hidden>
        </div>

<button class="govuk-button" data-module="govuk-button" type="submit">
          Start Nominated Owner journey
        </button>
      </form>

    </div>


<!-- SECTION TWO -->

<div class="custom-card-border-blue">
      <h2 class="govuk-heading-m govuk-link-">Administrator (LAPs HoF & HoW)</h2>
      
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        html: ''
      },
      summary: {
        html: '<p class="govuk-body"> <strong class="govuk-tag govuk-tag--red">
          To be signed off
        </strong> <strong class="govuk-tag govuk-tag--pink">
          Updated July 2025
        </strong></p>
           <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
           <p class="govuk-body">Identity Management Trusted Third Party journey for Administrators. The Administrator can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>invite users</li>
          <li>assign roles</li>
          <li>manage access for others</li>
           <li>update their name</li>
          <li>use services they have been given access to</li>
        </ul>'
      },
      content: {
        html: '<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li><a class="govuk-link" href="/idm-ttp/account-management/manage-account">Manage Account</a></li>
        <li><a class="govuk-link" href="/idm-ttp/registration/complete-your-registration">Complete your registration</a></li>'
      }
    }
  ]
}) }}

<form method="post" action="/">
        <div class="govuk-form-group">
          <input class="govuk-input" id="user-type" name="user-type" type="text" value="#" required hidden>
        </div>

<button class="govuk-button" data-module="govuk-button" type="submit">
          Start Administrator journey
        </button>
      </form>

    </div>

<!-- SECTION THREE -->

<div class="custom-card-border-blue">
      <h2 class="govuk-heading-m govuk-link-">Standard User (LAPs FO & WO)</h2>
      
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        html: ''
      },
      summary: {
        html: '<p class="govuk-body"> <strong class="govuk-tag govuk-tag--red">
          To be signed off
        </strong> <strong class="govuk-tag govuk-tag--pink">
          Updated July 2025
        </strong></p>
           <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
           <p class="govuk-body">Identity Management Trusted Third Party journey for Standard Users. The Standard User can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>update their name</li>
          <li>use services they have been given access to</li>
        </ul>'
      },
      content: {
        html: '<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li><a class="govuk-link" href="/idm-ttp/account-management/manage-account">Manage Account</a></li>
        <li><a class="govuk-link" href="/idm-ttp/registration/complete-your-registration">Complete your registration</a></li>'
      }
    }
  ]
}) }}

<form method="post" action="/">
        <div class="govuk-form-group">
          <input class="govuk-input" id="user-type" name="user-type" type="text" value="#" required hidden>
        </div>

<button class="govuk-button" data-module="govuk-button" type="submit">
          Start Standard User journey
        </button>
      </form>

    </div>


<!-- SHUTTER PAGES -->

<h2 class="govuk-heading-m">Shutter pages</h2>
    <p class="govuk-body govuk-!-margin-bottom-4"></p>

    <div class="custom-card-border-blue">
      <h2 class="govuk-heading-m"> Common shutter pages for the service</h2>
      <p class="govuk-body"><strong class="govuk-tag govuk-tag--red">
          To be signed off
        </strong> <strong class="govuk-tag govuk-tag--pink">
          Updated July 2025
        </strong></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

        <li><a class="govuk-link" href="/shutter-pages/problem-with-the-service">Sorry, there is a problem with the
            service</a>
        <li><a class="govuk-link" href="/shutter-pages/page-not-found">Page not found</a>
        <li><a class="govuk-link" href="/shutter-pages/service-is-unavilable">Sorry, the service is unavailable</a>
        <li><a class="govuk-link" href="/shutter-pages/service-timeout">Service timeout</a>
      </ul>
    </div>


  </div>

  <!-- SIDEBAR -->
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Prototypes</h2>
    <h3 class="govuk-heading-m">LAPs</h3>
    <p class="govuk-body"> <strong class="govuk-tag govuk-tag--light-blue">
    Current
    </strong> <a class="govuk-link" href="index.html">Private beta phase 2.0</a></p>
    <p class="govuk-body"> <strong class="govuk-tag govuk-tag--light-red">
    Old
    </strong> <a class="govuk-link" href="https://laps-prototype-e21618a16725.herokuapp.com/index" rel="noreferrer noopener" target="_blank">Private beta phase 1.0 (Opens in new tab)</a></p>
  </div>
</div>

{% endblock %}
