{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<span class="govuk-caption-xl">Glamshire County Council</span>
<h1 class="govuk-heading-xl">View documents</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Payments are made every quarter. The amount shown in the documents are estimates and not guaranteed.
        </strong>
        <p class="govuk-body govuk-warning-text__text govuk-!-font-weight-regular">For the 2024 to 2025 financial year, there will be a single payment covering quarters 1, 2, and 3.</p>
      </div>

    </div>
  </div>
  
  {{ govukSelect({
    id: "sort",
    name: "sort",
    label: {
      text: "Financial year"
    },
    items: [
      {
        value: "published",
        text: "2024 to 2025",
        selected: true
      },
      {
        value: "updated",
        text: "2023 to 2024"
      }
    ]
  }) }}

  {{ govukTable({
    caption: "Financial documents",
    captionClasses: "govuk-visually-hidden",
    firstCellIsHeader: true,
    head: [
      {
        text: "Quarter"
      },
      {
        text: "Document name"
      },
      {
        text: "View document",
        classes: "govuk-visually-hidden"
      },
      {
        text: "Download document",
        classes: "govuk-visually-hidden"
      }
    ],
    rows: [
      [
        {
          text: "4"
        },
        {
          text: "Grant determination letter EPR 2024 Q4"
        },
        {
          html: "<a href='#' class='govuk-link'>View</a>"
        },
        {
          html: "<a href='#' class='govuk-link'>Download</a>"
        }
      ],
      [
        {
          text: "4"
        },
        {
          text: "Remittance Advice EPR 2024 Q4"
        },
        {
          html: "<a href='#' class='govuk-link'>View</a>"
        },
        {
          html: "<a href='#' class='govuk-link'>Download</a>"
        }
      ],
      [
        {
          text: "1 to 3"
        },
        {
          text: "Grant determination letter EPR 2024 Q1 to Q3"
        },
        {
          html: "<a href='#' class='govuk-link'>View</a>"
        },
        {
          html: "<a href='#' class='govuk-link'>Download</a>"
        }
      ],
      [
        {
          text: "4"
        },
        {
          text: "Remittance Advice EPR 2024 Q1 to Q3"
        },
        {
          html: "<a href='#' class='govuk-link'>View</a>"
        },
        {
          html: "<a href='#' class='govuk-link'>Download</a>"
        }
      ]
    ]
  }) }}

{% endblock %}
