{% extends "layouts/laps-ceo.html" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Bank details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <style>
    /* Layout for confirmed/unconfirmed tag */
    /* To do - this breaks on mobile width */
    .custom-flex-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; /* Aligns children to the top */
      padding: 1rem 0;
      
    }

    .left-box,
    .right-box {
      flex: 0 0 auto;
    }
  </style>
{% endblock %}


{% block beforeContent %}
{{ super() }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBreadcrumbs({
        items: [
          {
            text: "LAPs home",
            href: "/laps/ceo/home-page"
          },
          {
            text: "Bank details"
          }
        ]
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  
     {% set html %}
      <p class="govuk-notification-banner__heading">
        The nominated Head of Finance will need to confirm your local authority's bank details.
      </p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html
    }) }}
  
 

  <span class="govuk-caption-xl">Glamshire County Council</span>
  <h1 class="govuk-heading-xl">Bank details</h1>

  <div class="custom-flex-wrapper">
    <div class="left-box">
      <h2 class="govuk-heading-m">Your local authority's bank details</h2>
    </div>
    <div class="right-box">
        <strong class="govuk-tag govuk-tag--red">
          Unconfirmed
        </strong>
    </div>
  </div>
      {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Account name"
          },
          value: {
            text: "Glamshire County Council"
          }
        },
        {
          key: {
            text: "Sort code"
          },
          value: {
            text: "12 34 56"
          }
        },
        {
          key: {
            text: "Account number"
          },
          value: {
            text: "78910112"
          }
        }
      ]
    }) }}
    

  {{ govukDetails({
    summaryText: "Change your local authority's bank details",
    html: "<p class='govuk-body'>CEOs and Heads of Finance can 
            <a href='#' class='govuk-link'>submit a request to update local authority's bank details</a>.</p>
            <p class='govuk-body'><span class='govuk-!-font-weight-bold'>Email</span><br>
            <a href='mailto:eprcustomerservice@defra.gov.uk' class='govuk-link'>eprcustomerservice@defra.gov.uk</a><br>
            We aim to respond within 20 working days
            </p>
            <p class='govuk-body'><span class='govuk-!-font-weight-bold'>Telephone</span><br>
            0300 060 0002<br>
            Monday to Friday 8am to 6pm (closed on weekends and bank holidays)</p>"
  }) }}
  </div>
</div>

{% endblock %}
