{% extends "layouts/laps-ceo.html" %}

{% block pageTitle %}
  Get help – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBreadcrumbs({
        items: [
          {
            text: "LAPs home",
            href: "/laps/ceo/home-page"
          },
          {
            text: "Get help and guidance"
          }
        ]
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<span class="govuk-caption-xl">Glamshire County Council</span>
<h1 class="govuk-heading-xl">Get help and guidance</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Guidance</h2>

    <p class="govuk-body">Read guidance on <a href="#" class="govuk-link">Extended producer responsibility (EPR) for packaging for local authorities</a> which includes information about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>when and how you'll receive payments and payment information</li>
        <li>how payments have been calculated</li>
      </ul>

    <h2 class="govuk-heading-m">Contact us</h2>

    <p class="govuk-body">You can use any of the following methods to contact us.<br>
      We aim to respond to your request within 5 working days but complex queries may take up to 20 days.<br><br>
      We will contact you by email if we:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>need more information</li>
        <li>think it is going to take us longer to respond to your request</li>
      </ul>
    
    <h3 class="govuk-heading-s">Raise a customer service ticket</h3>
    
    <p class="govuk-body">You can <a href="#" class="govuk-link">raise a customer service ticket</a> to:
      <ul class="govuk-list govuk-list--bullet">
        <li>ask a question about your payments</li>
        <li>make a complaint</li>
        <li>get help with your account</li>
      </ul>
    
    <h3 class="govuk-heading-s">Email</h3>
    <p class="govuk-body"><a href='mailto:eprcustomerservice@defra.gov.uk' class='govuk-link'>eprcustomerservice@defra.gov.uk</a></p>

    <h3 class="govuk-heading-s">Telephone</h3>
    <p class="govuk-body">0300 060 0002<br>Monday to Friday 8am to 4:30pm (closed on weekends and bank holidays)</p>
  </div>
</div>

{% endblock %}
