{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "language-toggle/macro.njk" import dwpLanguageToggle %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set govukRebrand = true %}

{% block header %}
  {{ govukHeader({rebrand: true}) }}
{% endblock %}


{% block stylesheets %}
  {{ super() }}
  <style>
    .custom-phase-banner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 15px;
    }

    .custom-nav-links a {
      margin-left: 15px;
      text-decoration: none;
    }

    .custom-nav-links {
      display: flex;
      align-items: center;
    }

    .govuk-grid-row {
      display: flex;
      margin-right: -15px;
      margin-left: -15px;
    }

    .custom-container-card {
      display: flex;
    }

    .custom-card {
      flex: 1;
      margin-bottom: 2em;
      padding: 1em;
      background-color: #F4F8FB;
      border-bottom: #1d70b8 4px solid;
    }

    .custom-card-border-blue {
      margin-bottom: 2em;
      padding: 1em;
      border: #1d70b8 1px solid;
    }
    
    .govuk-service-navigation {
      padding-left: 1em;
      padding-right: 1em;
    }

  </style>
{% endblock %}

{% block beforeContent %}

{{ govukServiceNavigation({
  serviceName: "Local Authority Payments account for EPR",
  serviceUrl: "#",
  navigationClasses: "nav-links-align-right",
  navigation: [
    {
      href: "#",
      text: "Your Defra Account",
      active: false
    },
    {
      href: "#",
      text: "Sign out"
    }
  ]
}) }}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }} -->
  
  <!-- <div class="govuk-width-container">
    <div class="govuk-phase-banner custom-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your feedback will help us to improve it.
        </span>
      </p>
      <div class="custom-nav-links">
        <a href="#" class="govuk-link">Your Defra Account</a>
        <a href="#" class="govuk-link">Sign out</a>
      </div>
    </div>
  </div> -->


{% endblock %}
